@import "tailwindcss";
@tailwind utilities;

@layer utilities {
  .font-cabin {
    font-family: var(--font-cabin);
  }
  .font-caveat {
    font-family: var(--font-caveat);
  }
  .font-tangerine {
    font-family: var(--font-tangerine);
    font-size: 3.5rem;
  }
}

.sections {
  @apply text-4xl mx-auto w-[100vw] h-[100vh] px-3;
}

.sections-content {
  @apply h-full flex flex-col items-center justify-center text-center gap-3;
}

.footer {
  @apply flex justify-between py-2 items-center px-4 shadow-[0_-10px_20px_rgba(0,0,0,0.2)] w-full;
}
