@import "tailwindcss";
@tailwind utilities;

@layer utilities {
  .font-cabin {
    font-family: var(--font-cabin);
  }
  .font-caveat {
    font-family: var(--font-caveat);
  }
  .font-tangerine {
    font-family: var(--font-tangerine);
  }
  .font-play {
    font-family: var(--font-play);
  }
  .font-noto {
    font-family: var(--font-noto);
  }
}

.sections {
  @apply text-4xl mx-auto w-full px-3;
}

.sections-content {
  @apply h-full w-full flex flex-col items-center justify-center text-center gap-3;
}

.footer {
  @apply flex justify-between py-2 items-center px-4 shadow-[0_-10px_20px_rgba(0,0,0,0.2)] w-full;
}

.text {
  font-size: 2rem;
  text-align: center;
  transition: font-family 0.5s ease-in-out, color 0.5s ease-in-out;
  color: #333;
}

.text:hover {
  color: #ff6347;
}
